<header>
    <div class="logo_box">
        <a href="https://www.cna.com.tw/">
            <svg class="icon-cnalogo" viewbox="0 0 32 32" role="img" title="cnalogo">
                <path d="M3.735 15.672a4.524 4.524 0 0 1 4.543-4.543c.302 0 .706 0 1.01.101V8H7.772C3.433 8 0 11.432 0 15.672s3.533 7.672 7.874 7.672h1.514v-3.331c-.303.1-.707.1-1.01.1-2.624.102-4.643-1.917-4.643-4.441zM9.893 8v3.533c1.716.707 2.927 2.322 2.927 4.24 0 1.918-1.211 3.533-2.927 4.24v3.533h3.634v-8.58l5.552 7.671v-6.965L13.527 8H9.893zM23.52 8h-3.735v15.344h3.634v-8.58l3.735 5.148h-3.13v3.432H32v-3.432L23.52 8z"></path>
                <path d="M4.34 15.672c0 2.12 1.818 3.937 3.938 3.937 2.22 0 3.937-1.716 3.937-3.937 0-2.12-1.817-3.937-3.937-3.937-2.12.1-3.937 1.817-3.937 3.937zm3.938-3.23c.706 0 1.312.201 1.817.605-.202 0-.707.101-1.01.303-.1.101-.303.505-.403.606-.101.1-.303.202-.404.202-.101 0-.202 0-.303-.101-.101-.101-.101-.202-.202-.202s-.101 0-.101.1c-.1.203 0 .505-.202.707-.1.101-.202.202-.303.202-.1.101-.1.101-.202.101-.1.101-.1.101-.1.202s0 .202.1.303c0 .1.101.1 0 .202.101 0 0 0 0 .202.101.303.404.606.707.706.101 0 .202.101.202.202s-.202.202-.303.202c-.404 0-.807-.202-1.11-.505-.101-.1-.303-.201-.404-.403v-.807s0-.102-.101-.102h-.101s-.1 0-.1.101h-.708c.303-1.716 1.616-2.826 3.23-2.826zm1.615 5.955c-.101.202-.404.404-.606.303-.1-.1-.202-.1-.303-.202-.1-.1-.202-.1-.403-.1-.303 0-.606.1-.909-.101-.202-.101-.404-.303-.404-.606 0-.202.303-.303.505-.404.202-.1.505-.202.707-.303 0 0 .302-.1.403 0 .101 0 .202 0 .303.101.101 0 .101.101.202.202s.101.202.202.303l.303.303c.1.1.1.202.1.303.102 0 0 .1-.1.201z"></path>
            </svg>
        </a>
        <span class="dot"></span>
        <span>
            <a href="https://www.cna.com.tw/list/tokyo2020.aspx">
                <img class="lazyload" data-src="img/2020logo.svg" title="東奧2020" alt="">
            </a>
        </span>
    </div>
</header>